@charset "UTF-8";

:root {}

/* --- Selector Universal --- */
* {
  * padding: 0;
  * margin: 0;
  * box-sizing: border-box;
  * }

html {
  font-size: 16px;
}


/* -- Comienzo Body -- */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

/* -- Comienzo Header --*/
.Header {

& .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

& .Menu__item {
  display : contents;

  & .menu__item__link {
    text-decoration: none;
}
}

 /* -- Comienzo Aside -- */
.Aside {

  & .section {

    & .article {
      display: flex;
      flex-flow : column nowrap;
    }
  }
}

  /* -- Comienzo Main -- */
.Main {
}
 
 /* -- Comienzo Footer -- */
.Footer {
}
